@page "/hotel-room"
@using ModelsDtos
@using Business.IRepository
@using System.Globalization
@inject IHotelRoomRepository HotelRoomRepository

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Room's</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info form-control">Add New Room</NavLink>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Occupancy</th>
                <th>Rate</th>
                <th>sqft</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (HotelRoom != null)
            {
                foreach (var room in HotelRoom)
                {
                    <tr>
                        <td>@room.Name</td>
                        <td>@room.Occupancy</td>
                        <td>@room.RegularRate.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
                        <td>@room.SqFt</td>
                        <td></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No Record Found</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private IEnumerable<HotelRoomDto> HotelRoom { get; set; } = new List<HotelRoomDto>();
    protected override async Task OnInitializedAsync()
    {
        HotelRoom = await HotelRoomRepository.GetAllHotelRoom();
    }
    
}
